<nav class="navbar navbar-expand-md navbar-dark bg-main">
  <div class="container-fluid">
    <a routerLink="/" class="navbar-brand">
      <!-- mr-3 -->
      <img
        src="./assets/img/logo-white.png"
        alt="logo"
        id="logo"
        class="mr-3"
      />
      ngAmazon
    </a>
    <button class="navbar-toggler" (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      [ngbCollapse]="isCollapsed"
      style="align-items: left; margin-left: 50px;"
      class="collapse navbar-collapse flex-column"
      id="navbarNav"
    ></div>
    <!-- Margin-left -3em -->
    <div class="input-group w-70" style="margin-left: -3em;">
      <input
        type="text"
        name="search"
        class="form-control"
        [(ngModel)]="searchTerm"
        (keyup.enter)="search()"
      />
      <span id="searchBtn" class="bg-warning" (click)="search()">
        <i class="fa fa-search"></i>
      </span>
    </div>
    <div class="w-100">
      <ul class="navbar-nav">
        <li class="navbar-item">
          <!-- ml-3 -->
          <a
            (click)="collapse()"
            routerLink="/categories"
            routerLinkActive="active"
            class="nav-link ml-3"
            >Categories</a
          >
        </li>
        <li
          class="nav-item ml-0 ml-md-auto"
          ngbDropdown
          #dropdown="ngbDropdown"
        >
          <a class="nav-link dropdown-toggle mr-1" ngbDropdownToggle>
            <i class="fa fa-user mr-2"></i>
            <span *ngIf="!token" class="mr-1">Accounts</span>
            <span *ngIf="data.user">{{ data.user.name }}</span>
          </a>
          <div ngbDropdownMenu class="dropdown-menu">
            <a
              *ngIf="token"
              (click)="closeDropdown(dropdown); collapse()"
              routerLink="/profile"
              class="dropdown-item"
              ><i class="fa fa-user-circle mr-2" aria-hidden="true"></i>
              Profile</a
            >
            <a
              *ngIf="!token"
              (click)="closeDropdown(dropdown); collapse()"
              routerLink="/login"
              class="dropdown-item"
            >
              <i class="fa fa-key mr-2" aria-hidden="true"></i> LogIn
            </a>
            <a
              *ngIf="token"
              (click)="closeDropdown(dropdown); collapse(); logout()"
              routerLink="/profile"
              class="dropdown-item"
            >
              <i class="fa fa-key mr-2" aria-hidden="true"></i> LogOut
            </a>
            <a
              *ngIf="!token"
              (click)="closeDropdown(dropdown); collapse()"
              routerLink="/register"
              class="dropdown-item"
            >
              <i class="fa fa-group mr-2" aria-hidden="true"></i> Register
            </a>
          </div>
        </li>
        <li class="nav-item ml-0 ml-md-2">
          <a
            class="nav-link"
            (click)="collapse()"
            routerLink="/cart"
            routerLink="active"
            ><i class="fa fa-shopping-cart mr-1"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<footer id="main-footer" class="bg-main text-white mt-5 p-5">
  <div class="container">
    <p class="lead text-center">CopyRight &copy; 2020 Ravilochan</p>
  </div>
</footer>
