<section id="home">
  <div class="container-fluid d-none d-md-block">
    <ngb-carousel>
      <ng-template ngbSlide>
        <img
          src="https://via.placeholder.com/1680x400"
          alt="First"
          class="item"
        />
      </ng-template>
      <ng-template ngbSlide>
        <img
          src="https://via.placeholder.com/1680x400"
          alt="Second"
          class="item"
        />
      </ng-template>
      <ng-template ngbSlide>
        <img
          src="https://via.placeholder.com/1680x400"
          alt="Third"
          class="item"
        />
      </ng-template>
      <ng-template ngbSlide>
        <img
          src="https://via.placeholder.com/1680x400"
          alt="Fourth"
          class="item"
        />
      </ng-template>
      <ng-template ngbSlide>
        <img
          src="https://via.placeholder.com/1680x400"
          alt="Fifth"
          class="item"
        />
      </ng-template>
    </ngb-carousel>
  </div>
</section>
